{
  "extends": "eslint-config-egg",
  "rules": {
    "linebreak-style": "off",
    "no-control-regex": "off",
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "strict": "off",
    "no-loop-func": "off"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  }
}